@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

$afacad-font-family: "Afacad", sans-serif;

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.afacad-regular {
  font-family: $afacad-font-family;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.afacad-medium {
  font-family: $afacad-font-family;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.afacad-semibold {
  font-family: $afacad-font-family;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.afacad-bold {
  font-family: $afacad-font-family;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
